<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inventory</title>
  <link rel="stylesheet" href="/css/inventory.css">


  <link rel="stylesheet" href="/css/inventory.css">
<script src="/js/inventory.js" defer></script>

</head>

<body>
<div class="inventory-container">

<div class="inventory-header">
    <h1>Inventory Management</h1>
</div>

<div class="table-wrapper">


  <h1>📦 Inventory Management</h1>

  <table id="inventoryTable" border="1">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
  </table>
</div>
</div>
</body>

</body>
</html>
